.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img{
    padding-top: 100px;
    
}
.horario{
    margin-top: -250px;
    font-size: 30px;
    color: rgb(238, 240, 236);
    opacity: 80%;
}
